@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
.App {
  text-align: center;

}

._taskCard{
  height: 200px;
  border: none;
  border-radius: 8px;
  background-color: rgb(212, 212, 212);
}

.deleteBtn {
  border: none;
  float: left;
  padding: 5px;
  font-size: medium;
  background: transparent;
  color: rgb(255, 0, 0);
}


.ideaSpeck {
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  width: fit-content;
  padding: 4px;
  background-color:rgb(255, 255, 255);
  margin: 3%;
}



@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
